/* 公共类 */
.wp{width:980px;margin:0 auto;}
.ml15{margin-left:15px;}
.bgw{background:#fff;}
.p15{padding:15px;}
.p10{padding:10px;}
.p8{padding:8px;}
/* 绿色按钮 */
.btn-success{background:@color1;color:#fff;border:0;.getTextShdow(0 0 0 #fff);}

body{font-family:"微软雅黑";font-size:12px;background:#EFEFEF;}
h2,.btn{font-family:"微软雅黑"}
/* header  */
header{
	padding:10px 0;background:#fff;
	h2{font-size:2em;line-height:50px;height:50px;padding-left:54px;background:url(../images/logo.jpg) no-repeat left center;}
	.input-append{margin-top:13px;}
	.form-search .input-append .search-query,.form-search .input-append .btn{height:26px;.getBorderRadius(0);}
}
.main_menu, .kb_main_menu{
	background:@color1;padding:0;
	.getBoxShdow(1px 0px 5px #999);
	ul{
		li{
			float:left;width:14.28%;text-align:center;font-size:14px;line-height:3em;height:3em;color:#fff;background:@color1;
			border-left:1px solid #7AD2AC;border-right:1px solid #08905A;cursor:pointer;
			.getTransition(@animateTIme);
			&:hover{
				background:#FFC925;
			}
		}
		.active{background:#FFC925;}
	}
}
.kb_main_menu{
	ul{
		li{
			width:20%;	
		}
		.active{background:#FFC925;}
	}
}

section.kb_section{
	 margin-top:15px;
	 font-size:14px;
	 .leftarea{
		height:450px;
		width:20%;
		background:@contentbgcolor;
		.my_info{
			height:130px;
			table{
				
				margin-top:20px;
				width:100%;
				tr{
					width:100%
				}
				td{
					width:50%;
					height:40px;
				}
			}
			ul{
				width:100%;
				
				li{
					border:1px solid #ccc;
					height:50px;
					width:50%;
				}
			}
		}
		.left_nav{
			.accordion{
				padding-top:30px;
				.accordion-heading{
					overflow:hidden;
					height:30px;
					
					a{
						background:@maincolor;
						display:block;
						width:200px;
						height:100%;
						padding-top:5px;
						text-decoration:none;
						cursor:default;
						color:#ffffff;
					}
				}
				.accordion-group{
					margin-bottom:0;
					border:0 solid #000;
				}
				.accordion-body{
					ul{
							li{
								background:@contentbgcolor;
								overflow:hidden;
								height:30px;
								a{
									display:block;
									width:200px;
									height:100%;
									padding-top:5px;
									cursor:pointer;
									color:#000;
									background:@contentbgcolor;
									text-decoration:none;
									&:hover{
										background:lighten(@activeorange,20%);
									}
								}
							}
					}
				}
			}	
		}
	 }
	 .mainarea{
		margin-left:1%;
		background:@contentbgcolor;
		width:79%;
		
		.title{
			height:50px;
			padding:10px;
			
			border-bottom:10px solid @bgcolor;
		}
			.maincontent{
			padding-top:30px;
			width:100%;
			height:500px;
		 }
	 }
	
	 
}

footer{width:100%;height:100px;padding-top:37px;text-align:center;color:#fff;background:@color1;margin-top:15px;}